/* text styles */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/* color styles */

/* container */
.container-fluid {
    margin: 0px;
    padding: 0px;
}
/* buttons */
.button-primary {
    background: linear-gradient(180deg, #FF0000 0%, #CC0000 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-primary a {
    color: white;
    text-decoration: none;
}
/*
-----------------------------------------------------
announcement
-----------------------------------------------------*/
.announcement {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: #C0DCF1;
    
}
/*
-----------------------------------------------------
navigation-primary
-----------------------------------------------------*/
.navigation-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 45px;
}

.logo img {
    width: 125px;
    height: auto;
}

.logo {
    padding: 22.5px 16px;
}

.search {
    width: 300px;
    padding: 22.5px 16px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 22.5px 8px;
}

.stores {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.stores-visual img {
    width: 30px;
    height: 30px;
}

.stores-writing {
    padding: 0px 6px;
}

.community {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.community-visual img {
    width: 30px;
    height: 30px;
}

.community-writing {
    padding: 0px 6px;
}

.styler {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.styler-writing {
    padding: 0px 6px;
}

.signin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;

}

.signin-writing {
    padding-left: 6px;
}

.signin-writing p {
    margin: 0px;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}

/*
-----------------------------------------------------
navigation-secondary
-----------------------------------------------------*/
.navsec-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
}

.navsec-items p {
    color: white;
    padding: 12px 0px;
    margin: 0px;
}

.mobileheader {
    display: none;
}


/*media queries*/
/*xsmall*/
@media only screen and (min-width: 0px) {
    .desktopheader {
        display: none;
    }

    .mobileheader {
        display: contents;
    }

    .mobileheader img {
        width: 100%;
    }
}
/*large*/
@media only screen and (min-width: 992px) {
    .desktopheader {
        display: contents;
    }

    .mobileheader {
        display: none;
    }

}
/*
-----------------------------------------------------
hero
-----------------------------------------------------*/
.hero {
    background-color: black;
}
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content--visual {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0px 30px;
}

.hero-content--visual img {
    width: 640px;
}

.hero-content--writing {
    width: 50%;
    padding: 30px;
    color: white;
    text-align: center;
}

/*media queries*/
/*xsmall*/
@media only screen and (min-width: 0px) {
    .hero-content {
        flex-direction: column-reverse;
    }

    .hero-content--writing {
        width: 100%;
    }
}
/*large*/
@media only screen and (min-width: 992px) {
    .hero-content {
        flex-direction: row;
    }

    .hero-content--writing{
        width: 50%;
    }
}

/*
-----------------------------------------------------
info
-----------------------------------------------------*/
.info-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px;
}

.info-content--visual {
    width: 50%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.info-content--visual img {
    width: 208px;
}

.info-content--writing {
    width: 50%;
    padding: 50px 30px;
}
/*
-----------------------------------------------------
how to use
-----------------------------------------------------*/
.howto-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 30px;
    height: 70vh;

}

.howto-content--visual {
    width: 50%;
}
.howto-content--visual img {
    width: 600px;
    height: auto;
}

.howto-content--writing {
    padding: 30px;
}

/*media queries*/
/*xsmall*/
@media only screen and (min-width: 0px) {
   .howto-content {
        flex-direction: column;
        justify-content: center;
        padding: 0px;
   }

   .howto-content--visual {
        display: flex;
        justify-content: center;
   }

   .howto-content--visual img {
        width: 400px;
        height: auto;
   }

   .howto--visual {
       padding: 0px;
       margin: 0px;
   }
}
/*large*/
@media only screen and (min-width: 992px) {
    .howto-content {
        flex-direction: row;
        padding: 50px 0px
    }

    .howto-content--visual {
        display: flex;
        justify-content: center;
    }

    .howto-content--visual img {
        width: 500px;
        padding-left: 0px;
    }
}
/*
-----------------------------------------------------
try
-----------------------------------------------------*/
.try-content {
    display: flex;
    flex-direction: column;
    background: rgba(231, 4, 15, 0.5);
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.try-content--app img {
    width: 150px;
}

.try-content--download img {
    width: 550px;
}
/*
-----------------------------------------------------
reviews
-----------------------------------------------------*/

.review-content {

}

.review-content--title {
    padding: 50px 30px;
}

.review {
    padding: 30px 30px;
}

.review-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 50px 20px;

}

.review-rating {
    padding-right: 10px;
    padding-left: 10px;
}

.review-stars {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.review-rating p {
    color: green;
}

.review-rating img {
    width: 30px;
    height: 30px;
}

.review-writing {
    width: 60%;
    flex-grow: 0;
    padding: 0px 10px;
}

.review-visual img {
    width: 200px;
}

.review-profile {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.review1-profile--user {
    display: flex;
    flex-direction: row;
}

/*
-----------------------------------------------------
recs
-----------------------------------------------------*/
.recs {
    padding: 50px 30px;
}

.recs-content--title {
    padding: 20px 0px;
}

.recs-content--product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
}

/*
-----------------------------------------------------
footer
-----------------------------------------------------*/

footer img {
    width: 100%;
    height: auto;
}

/*
-----------------------------------------------------
animations
-----------------------------------------------------*/
/*hero title*/
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
/*emergence: info*/
.info-content[data-emergence] .info-content--visual,
.info-content--writing {
    transition: opacity 1s ease;
}
.info-content[date-emergence] .info-content--writing {
    transition-delay: 500ms;
}

.info-content[data-emergence=hidden] .info-content--visual,
.info-content[data-emergence=hidden] .info-content--writing {
    opacity: 0;
}

.info-content[data-emergence=visible] .info-content--visual,
.info-content[data-emergence=visible] .info-content--writing {
    opacity: 1;
}

/*emergence: how to section*/
/*watching parent then styling the content in in*/
.howto-content[data-emergence] .howto-content--visual, 
.howto-content[data-emergence] .howto-content--writing  {
    transition: opacity 1s ease;
}

.howto-content[data-emergence] .howto-content--writing {
    transition-delay: 500ms;

}
.howto-content[data-emergence=hidden] .howto-content--visual,
.howto-content[data-emergence=hidden] .howto-content--writing {
    opacity: 0;
}

.howto-content[data-emergence=visible] .howto-content--visual, 
.howto-content[data-emergence=visible] .howto-content--writing {
    opacity: 1;
}

