/* text styles */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/* color styles */

/* container */
.container-fluid {
    margin: 0px;
    padding: 0px;
}
/* buttons */
.button-primary {
    background: linear-gradient(180deg, #FF0000 0%, #CC0000 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-primary a {
    color: white;
    text-decoration: none;
}
/*
-----------------------------------------------------
announcement
-----------------------------------------------------*/
.announcement {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: #C0DCF1;
    
}
/*
-----------------------------------------------------
navigation-primary
-----------------------------------------------------*/
.navigation-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 45px;
}

.logo img {
    width: 125px;
    height: auto;
}

.logo {
    padding: 22.5px 16px;
}

.search {
    width: 300px;
    padding: 22.5px 16px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 22.5px 8px;
}

.stores {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.stores-visual img {
    width: 30px;
    height: 30px;
}

.stores-writing {
    padding: 0px 6px;
}

.community {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.community-visual img {
    width: 30px;
    height: 30px;
}

.community-writing {
    padding: 0px 6px;
}

.styler {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 12px;
}

.styler-writing {
    padding: 0px 6px;
}

.signin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;

}

.signin-writing {
    padding-left: 6px;
}

.signin-writing p {
    margin: 0px;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}

/*
-----------------------------------------------------
navigation-secondary
-----------------------------------------------------*/
.navsec-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
}

.navsec-items p {
    color: white;
    padding: 12px 0px;
    margin: 0px;
}

/*
-----------------------------------------------------
hero
-----------------------------------------------------*/
.hero {
    background-color: black;
}
.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content--visual {
    width: 50%;
    padding: 0px 30px;
}

.hero-content--visual img {
    width: 705px;
}

.hero-content--writing {
    padding: 30px;
    color: white;
    text-align: center;
}

/*
-----------------------------------------------------
info
-----------------------------------------------------*/
.info-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px;
}

.info-content--visual {
    width: 50%;
    background: black;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.info-content--visual img {
    width: 208px;
}

.info-content--writing {
    width: 50%;
    padding: 50px 30px;
}
/*
-----------------------------------------------------
how to use
-----------------------------------------------------*/
.howto-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 30px;

}

.howto-content--visual {
    width: 50%;
}
.howto-content--visual img {
    width: 600px;
    height: auto;
}

.howto-content--writing {
    padding: 30px;
}
/*
-----------------------------------------------------
try
-----------------------------------------------------*/
.try-content {
    display: flex;
    flex-direction: column;
    background: rgba(231, 4, 15, 0.5);
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.try-content--app img {
    width: 150px;
}

.try-content--download img {
    width: 550px;
}
/*
-----------------------------------------------------
reviews
-----------------------------------------------------*/

.review-content {

}

.review-content--title {
    padding: 50px 30px;
}

.review {
    padding: 30px 30px;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 50px 20px;

}

.review-rating {
    padding-right: 10px;
    padding-left: 10px;
}

.review-stars {
    display: flex;
    flex-direction: row;
}

.review-rating p {
    color: green;
}

.review-rating img {
    width: 30px;
    height: 30px;
}

.review-writing {
    width: 60%;
    flex-grow: 0;
    padding: 0px 10px;
}

.review-visual img {
    width: 200px;
}

.review-profile {
    padding-left: 10px;
    padding-right: 10px;
}

.review1-profile--user {
    display: flex;
    flex-direction: row;
}

/*
-----------------------------------------------------
recs
-----------------------------------------------------*/
.recs {
    padding: 50px 30px;
}

.recs-content--title {
    padding: 20px 0px;
}

.recs-content--product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
}

/*
-----------------------------------------------------
footer
-----------------------------------------------------*/

footer img {
    width: 100%;
    height: auto;
}



